*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #bbd0ec; }

.section-header {
  font-size: 3rem;
  text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  color: #202c4d; }

.header {
  width: 70%;
  color: #202c4d;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px #202c4d;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .header:active, .header:focus {
    box-shadow: 0.7rem 0.7rem 1.5rem rgba(0, 0, 0, 0.2); }
  .header__text {
    font-size: 4rem;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    text-align: center; }

.section__header {
  height: 100vh;
  background-image: linear-gradient(to right top, rgba(70, 130, 180, 0.6), rgba(255, 165, 0, 0.5)), url(../img/mammoth_trail.jpg);
  background-size: center;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100vw 0, 100vw 75vh, 50vw 100vh, 0 75vh);
  clip-path: polygon(0 0, 100vw 0, 100vw 75vh, 50vw 100vh, 0 75vh);
  position: relative; }

.section__navigation {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%); }

.section__contact {
  height: 100vh; }

.technologies {
  height: 100vh;
  padding-top: 25vh;
  color: #202c4d;
  position: relative; }
  .technologies__heading {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .technologies__technologies {
    position: absolute;
    cursor: pointer;
    width: 25rem;
    height: 25rem;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .technologies__technologies:focus, .technologies__technologies:active {
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1); }
    .technologies__technologies-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 15rem;
      height: auto;
      transition: opacity 1s; }
    .technologies__technologies-arrow {
      position: absolute;
      text-align: center;
      bottom: 8px;
      right: -8px;
      transform: translateX(-50%);
      font-size: 2.5rem;
      width: 3rem;
      height: 3rem;
      color: #777575; }
  .technologies__info {
    width: 90%;
    display: block;
    position: absolute;
    font-weight: 600;
    font-size: 1.6rem;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .technologies__info-text {
      margin: 0 1rem; }

.projects {
  height: 100vh;
  position: relative;
  color: #202c4d; }
  .projects__heading {
    position: absolute;
    left: 50vw;
    top: 5%;
    transform: translateX(-50%); }
  .projects__display {
    position: absolute;
    width: 25rem;
    height: 25rem;
    left: 50%;
    top: 20%;
    transform: translateX(-50%); }
    .projects__display-box {
      color: #202c4d;
      font-weight: 500;
      background-color: rgba(255, 255, 255, 0.4);
      position: relative;
      height: 100%;
      width: 100%;
      border-radius: 5px;
      box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1); }
    .projects__display-name {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 2rem;
      text-align: center;
      border-bottom: 1px #777575 solid; }
    .projects__display-description-box {
      position: absolute;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      height: 50%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.6rem;
      overflow: scroll; }
    .projects__display-description {
      font-size: 1.6rem; }
    .projects__display-icon-box {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.6rem;
      padding-bottom: 2rem; }
    .projects__display-images, .projects__display-github, .projects__display-next {
      text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
      color: #202c4d; }
      .projects__display-images:link, .projects__display-images:visited, .projects__display-github:link, .projects__display-github:visited, .projects__display-next:link, .projects__display-next:visited {
        color: #202c4d; }
      .projects__display-images:hover, .projects__display-github:hover, .projects__display-next:hover {
        text-shadow: 0.6rem 0.5rem 1rem rgba(0, 0, 0, 0.5); }
      .projects__display-images:active, .projects__display-github:active, .projects__display-next:active {
        text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.5); }
      .projects__display-images:not(:first-child), .projects__display-github:not(:first-child), .projects__display-next:not(:first-child) {
        padding-left: 2rem; }
  .projects__images-display {
    overflow: hidden;
    position: absolute;
    width: 25rem;
    height: 25rem;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    z-index: -5;
    border-radius: 5px;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);
    background-color: rgba(187, 208, 236, 0.9); }
    .projects__images-display-box {
      font-weight: 500;
      position: relative;
      height: 25rem;
      width: 25rem; }
    .projects__images-display-img {
      position: absolute;
      width: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .projects__images-display-icon-box {
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.6rem;
      padding: 1rem;
      background-color: #bbd0ec;
      text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.5); }
    .projects__images-display-exit {
      padding-right: 3rem; }
      .projects__images-display-exit:hover {
        text-shadow: 0.6rem 0.5rem 1rem rgba(0, 0, 0, 0.5); }
      .projects__images-display-exit:active {
        text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.5); }
    .projects__images-display-next {
      padding-left: 3rem; }
      .projects__images-display-next:hover {
        text-shadow: 0.6rem 0.5rem 1rem rgba(0, 0, 0, 0.5); }
      .projects__images-display-next:active {
        text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.5); }

.imagesInvisible {
  transition: all 1s ease-out;
  opacity: 0;
  z-index: -1; }

.imagesVisible {
  transition: all 1s ease-out;
  opacity: 1;
  z-index: 1;
  transform: translate(-50%, 82%); }

.navigation__list {
  color: #202c4d;
  font-size: 3rem;
  list-style: none; }
  .navigation__list-link {
    color: #202c4d; }
    .navigation__list-link:visited {
      color: #202c4d; }
  .navigation__list-item {
    color: #202c4d;
    padding: 6rem 0;
    text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.5); }
  .navigation__list-item-logo:hover {
    text-shadow: 0.6rem 0.7rem 1rem rgba(0, 0, 0, 0.5); }
  .navigation__list-item-logo:active {
    text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.5); }

.row {
  max-width: 90%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
