*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #bbd0ec; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.header {
  width: 80%;
  color: #202c4d;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px #202c4d dotted;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .header__text {
    font-size: 4rem;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    text-align: center; }

.section__header {
  height: 100vh;
  background-image: linear-gradient(to right top, rgba(70, 130, 180, 0.6), rgba(255, 165, 0, 0.5)), url(../img/mammoth_trail.jpg);
  background-size: center;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100vw 0, 100vw 75vh, 50vw 100vh, 0 75vh);
  clip-path: polygon(0 0, 100vw 0, 100vw 75vh, 50vw 100vh, 0 75vh);
  position: relative; }

.section__about {
  color: #202c4d;
  text-align: center;
  overflow: hidden; }

.section__projects {
  color: #202c4d;
  text-align: center;
  overflow: hidden; }

.about__heading {
  font-size: 2rem;
  margin-top: 3.5rem;
  margin-bottom: 2rem; }

.about__technologies {
  cursor: pointer;
  margin: 3rem 2rem; }
  .about__technologies-logo {
    margin-top: 2rem;
    width: 30rem; }
  .about__technologies-arrow {
    font-size: 3rem;
    margin-bottom: 2rem; }

.about__info {
  margin: 2.5rem;
  font-weight: 600;
  font-size: 1.6rem; }

.projects__heading {
  font-size: 2rem;
  margin-top: 3.5rem;
  margin-bottom: 2rem; }

.projects__info {
  font-size: 1.6rem; }

.row {
  max-width: 90%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
