*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right top, rgba(70, 130, 180, 0.4), rgba(255, 165, 0, 0.3)); }

.section-header {
  font-size: 3rem;
  text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  color: #202c4d; }

.header {
  width: 60%;
  color: #202c4d;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px #202c4d;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .header:active, .header:focus {
    box-shadow: 0.7rem 0.7rem 1.5rem rgba(0, 0, 0, 0.2); }
  .header__text {
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    text-align: center; }

.section__header {
  height: 100vh;
  background-image: linear-gradient(to right top, rgba(70, 130, 180, 0.6), rgba(255, 165, 0, 0.5)), url(../img/mammoth_trail.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100vw 0, 100vw 75vh, 50vw 100vh, 0 75vh);
  clip-path: polygon(0 0, 100vw 0, 100vw 75vh, 50vw 100vh, 0 75vh); }

.section__navigation {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%); }

.section__contact {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%); }

.technologies {
  height: 100vh;
  color: #202c4d;
  position: relative; }
  .technologies__heading {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .technologies__technologies {
    position: absolute;
    cursor: pointer;
    width: 60%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .technologies__technologies:focus, .technologies__technologies:active {
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1); }
    .technologies__technologies-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: auto;
      max-height: 80%;
      transition: opacity 1s; }
    .technologies__technologies-arrow {
      position: absolute;
      text-align: center;
      bottom: 8px;
      right: -8px;
      transform: translateX(-50%);
      font-size: 2.5rem;
      width: 3rem;
      height: 3rem;
      color: #777575; }
  .technologies__info {
    width: 75%;
    display: block;
    position: absolute;
    font-weight: 600;
    font-size: 1.6rem;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .technologies__info-text {
      margin: 0 3rem; }

.projects {
  height: 90vh;
  position: relative;
  color: #202c4d; }
  .projects__heading {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%); }
  .projects__display {
    position: absolute;
    width: 60%;
    height: 40%;
    left: 50%;
    top: 20%;
    transform: translateX(-50%); }
    .projects__display-box {
      color: #202c4d;
      font-weight: 500;
      background-color: rgba(255, 255, 255, 0.4);
      position: relative;
      height: 100%;
      width: 100%;
      border-radius: 5px;
      box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1); }
    .projects__display-name {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 2rem;
      text-align: center; }
    .projects__display-description-box {
      position: absolute;
      width: 100%;
      height: 100%;
      max-height: calc(100% - 7rem);
      top: 4rem;
      padding: 0rem 1.5rem 0rem 1.5rem;
      font-size: 1.6rem;
      overflow: scroll; }
    .projects__display-icon-box {
      position: absolute;
      width: 100%;
      height: 3rem;
      bottom: 0;
      font-size: 1.6rem;
      text-align: center;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem; }
    .projects__display-images, .projects__display-github, .projects__display-next {
      text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
      color: #202c4d;
      padding: 0 10% 0 10%;
      margin-top: 10px; }
      .projects__display-images:link, .projects__display-images:visited, .projects__display-github:link, .projects__display-github:visited, .projects__display-next:link, .projects__display-next:visited {
        color: #202c4d; }
      .projects__display-images:hover, .projects__display-github:hover, .projects__display-next:hover {
        text-shadow: 0.6rem 0.5rem 1rem rgba(0, 0, 0, 0.5); }
      .projects__display-images:active, .projects__display-github:active, .projects__display-next:active {
        text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.4); }
  .projects__images-display {
    overflow: hidden;
    position: relative;
    width: 60%;
    height: 40%;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    z-index: -5;
    border-radius: 5px;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5); }
    .projects__images-display-box {
      font-weight: 500;
      height: 100%;
      width: 100%; }
    .projects__images-display-img {
      position: absolute;
      width: 90%;
      height: auto;
      max-height: 80%;
      max-width: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 2px;
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1); }
    .projects__images-display-icon-box {
      position: absolute;
      width: 100%;
      top: 0;
      font-size: 1.6rem;
      text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
      text-align: center; }
    .projects__images-display-exit, .projects__images-display-next {
      padding: 10% 20% 0 20%; }
      .projects__images-display-exit:hover, .projects__images-display-next:hover {
        text-shadow: 0.6rem 0.5rem 1rem rgba(0, 0, 0, 0.5); }
      .projects__images-display-exit:active, .projects__images-display-next:active {
        text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.5); }

.imagesInvisible {
  transition: all 1s ease-out;
  opacity: 0;
  z-index: -1; }

.imagesVisible {
  transition: all 1s ease-out;
  opacity: 1;
  z-index: 1;
  transform: translate(-50%, 82%); }

.iconsInvisible {
  transition: all 1s ease-out;
  opacity: 0;
  z-index: -1; }

.iconsVisible {
  transition: all 1s ease-out;
  opacity: 1;
  z-index: 1; }

.navigation__list {
  list-style: none;
  color: #202c4d; }
  .navigation__list-item, .navigation__list-link {
    text-decoration: none;
    color: #202c4d;
    font-size: 3rem;
    text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.5); }
    .navigation__list-item:hover, .navigation__list-link:hover {
      text-shadow: 0.6rem 0.7rem 1rem rgba(0, 0, 0, 0.5); }
    .navigation__list-item:active, .navigation__list-link:active {
      text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.5); }
    .navigation__list-item:visited, .navigation__list-item:link, .navigation__list-link:visited, .navigation__list-link:link {
      color: #202c4d; }
    .navigation__list-item:not(:last-child), .navigation__list-link:not(:last-child) {
      padding-bottom: 3rem; }

.contact__list {
  list-style: none;
  color: #202c4d; }
  .contact__list-item,
  .contact__list-item a {
    text-decoration: none;
    color: #202c4d;
    font-size: 3rem;
    text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.5); }
    .contact__list-item:hover,
    .contact__list-item a:hover {
      text-shadow: 0.6rem 0.7rem 1rem rgba(0, 0, 0, 0.5); }
    .contact__list-item:active,
    .contact__list-item a:active {
      text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.5); }
    .contact__list-item:visited, .contact__list-item:link,
    .contact__list-item a:visited,
    .contact__list-item a:link {
      color: #202c4d; }
    .contact__list-item:not(:last-child),
    .contact__list-item a:not(:last-child) {
      padding-bottom: 3rem; }

.footer {
  position: relative;
  height: 20vh;
  width: 100%;
  background-image: linear-gradient(to right top, rgba(70, 130, 180, 0.7), rgba(255, 165, 0, 0.6)), url(../img/mammoth_trail.jpg);
  background-size: fill;
  background-position: bottom;
  box-shadow: 0.2rem -0.25rem 1rem rgba(0, 0, 0, 0.493); }
  .footer__text {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    position: absolute;
    color: #202c4d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.row {
  max-width: 90%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
