@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center-hori-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin section-header {
  font-size: 3rem;
  text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
