.header {
  width: 70%;
  color: rgb(32, 44, 77);
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px rgb(32, 44, 77);
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:active,
  &:focus {
    box-shadow: 0.7rem 0.7rem 1.5rem rgba(0, 0, 0, 0.2);
  }

  &__text {
    font-size: 4rem;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
}
