.projects {
  height: 90vh;
  position: relative;
  color: rgb(32, 44, 77);

  &__heading {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
  }

  &__display {
    position: absolute;
    width: 60%;
    height: 40%;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);

    &-box {
      color: rgb(32, 44, 77);
      font-weight: 500;
      background-color: rgba(255, 255, 255, 0.4);
      position: relative;
      height: 100%;
      width: 100%;
      border-radius: 5px;
      box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);
    }

    &-name {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 2rem;
      text-align: center;
    }

    &-description-box {
      position: absolute;
      width: 100%;
      height: 100%;
      max-height: calc(100% - 7rem);
      top: 4rem;
      padding: 0rem 1.5rem 0rem 1.5rem;
      font-size: 1.6rem;
      overflow: scroll;
    }

    &-icon-box {
      position: absolute;
      width: 100%;
      height: 3rem;
      bottom: 0;
      font-size: 1.6rem;
      text-align: center;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
    }

    &-images,
    &-github,
    &-next,
    &-website,
    &-previous {
      text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
      color: rgb(32, 44, 77);
      padding: 0 5% 0 5%;
      margin-top: 10px;

      &:link,
      &:visited {
        color: rgb(32, 44, 77);
      }

      &:hover {
        text-shadow: 0.6rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
      }

      &:active {
        text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.4);
      }
    }
  }

  &__images-display {
    overflow: hidden;
    position: relative;
    width: 60%;
    height: 40%;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    z-index: -5;
    border-radius: 5px;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5);

    &-box {
      font-weight: 500;
      height: 100%;
      width: 100%;
    }

    &-img {
      position: absolute;
      height: calc(100% - 3rem);
      width: auto;
      top: 3rem;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2px;
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }

    &-icon-box {
      position: absolute;
      width: 100%;
      height: 3rem;
      top: 0;
      font-size: 1.6rem;
      text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
      text-align: center;

      &-relative {
        position: relative;
        height: 100%;
        width: 100%;
      }
    }

    &-exit,
    &-next {
      position: absolute;
      top: 0.7rem;
      &:hover {
        text-shadow: 0.6rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
      }

      &:active {
        text-shadow: 0.3rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
      }
    }

    &-exit {
      left: 25%;
    }
    &-next {
      right: 25%;
    }
  }
}

.imagesInvisible {
  transition: all 1s ease-out;
  opacity: 0;
  z-index: -1;
}

.imagesVisible {
  transition: all 1s ease-out;
  opacity: 1;
  z-index: 1;
  transform: translate(-50%, 84%);
}

.iconsInvisible {
  transition: all 1s ease-out;
  opacity: 0;
  z-index: -1;
}

.iconsVisible {
  transition: all 1s ease-out;
  opacity: 1;
  z-index: 1;
}
