*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this is defining what 1 rem is. about 10px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: rgb(187, 208, 236);
}

.section-header {
  font-size: 3rem;
  text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  color: rgb(32, 44, 77);
}
